

# Markdown results
md
backend
scripts

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# lockfiles
bun.lockdb


# Dependencies directories / black hole / heaviest shit ever
node_modules/




